<div class="form-container">
    <mat-card-title>New Post</mat-card-title>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input id="title" matInput formControlName="title" placeholder="Title" type="text" required>
            <mat-error *ngIf="postForm.controls.title.invalid">
                Title cannot be empty
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea id="content" matInput formControlName="content" placeholder="Content" type="text" required></textarea>
            <mat-error *ngIf="postForm.controls.content.invalid">
                Content cannot be empty
            </mat-error>
        </mat-form-field>
        <div class="right">
            <button mat-raised-button type="submit" [disabled]="!postForm.valid">Post</button>
        </div>
    </form>
</div>