<div class="form-container">
    <mat-card-title>Sign In</mat-card-title>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput formControlName="username" placeholder="Username" type="text" required>
        </mat-form-field>
        <mat-form-field>
            <input id="password" matInput formControlName="password" placeholder="Password" type="password" required>
            <mat-error *ngIf="profileForm.controls.password.invalid">
                <mat-error *ngIf="profileForm.controls.password.errors.minlength">
                    Password must be at least four characters long.
                </mat-error>
                <mat-error *ngIf="profileForm.controls.password.errors.pattern">
                    Password must contain at least one number and not contain whitespaces.
                </mat-error>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
</div>