<div class="form-container">
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput formControlName="username" placeholder="Username" type="text" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="password" placeholder="Password" type="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Login</button>
    </form>
</div>
