<mat-toolbar color="accent">
    <div class="cs">
        <div class="left">
            <a mat-icon-button routerLink = "/posts" matTooltip="Posts"><mat-icon>home</mat-icon></a>
            <a routerLink="/posts" matTooltip="Posts">{{title | uppercase}}</a>
        </div>
        <div class="right">
            <a *ngIf="getAuthor()?.id === null" mat-icon-button routerLink="/signin" matTooltip="Sign In" style="margin-right: 50px;">
                Sign In
            </a>
            <a *ngIf="getAuthor()?.id === null" mat-icon-button routerLink="/login" matTooltip="Login">
                Login
            </a>
            <a *ngIf="getAuthor()?.id !== null" mat-icon-button (click)="logoutAuthor()" matTooltip="Logout">
                Logout
            </a>
        </div>
    </div>
</mat-toolbar>
<div *ngIf="getAuthor()?.id !== null" class="new-post-container">
    <button mat-raised-button routerLink="/new" matTooltip="New Post" style="width: 836px;">Write a New Post</button>
</div>
<mat-card>
    <router-outlet></router-outlet>
</mat-card>