<div *ngIf="post" class="form-container">
    <mat-card-title>Edit Post</mat-card-title>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput formControlName="title" placeholder="Title" type="text" required>
        </mat-form-field>
        <mat-card-subtitle>Published by {{post.authorUsername}} on {{post.timestamp | date:'fullDate'}} at {{post.timestamp | date:'shortTime'}}</mat-card-subtitle>
        <mat-form-field>
            <textarea matInput formControlName="content" placeholder="Content" type="text" required></textarea>
        </mat-form-field>
        <div class="right">
            <button mat-raised-button type="submit" [disabled]="!postForm.valid">Edit</button>
        </div>
    </form>
</div>
