body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
body a{
    color: #000;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
textarea {
    height: 200px;
}
form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 20px;
    width: 800px;
}
hr {
    margin-top: 30px;
    margin-bottom: 25px;
    height: 0px;
    border: 0px;
    border-top: 1px solid #CCC;
}
.cs {
    width: 800px;
    margin: auto;
}
.cs a{
    color: #000;
    text-decoration: none;
}
.left {
    margin: 0px;
    padding: 0px;
    float: left;
}
.right {
    margin: 0px;
    padding: 0px;
    float: right;
}
.form-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 20px;
    width: 800px;
}
.form-container > * {
    width: 100%;
}
.new-post-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 30px;
    width: 836px;
}
.new-post-container button, .form-container button {
    background-color: rgb(33, 120, 207);
    color: rgb(255, 255, 255);
}
.grey-icon {
    color:#666;
}
// Material imports and overrides
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
.mat-toolbar {
    color: #000;
    margin-bottom: 30px;
    box-shadow: 0px 1px 1px #999;
}
.mat-card {
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
}
.mat-card-content {
    margin: 0px 16px;
}
