
<div class="form-container" style="width: 775px;">
    <form>
        <mat-form-field>
            <input matInput type="search" [formControl]="searchField" placeholder="Search by title" />
        </mat-form-field>
    </form>
</div>
<ul>
    <li *ngFor="let post of posts; last as last">
        <div class="left">
            <mat-card-header>
                <mat-card-title>{{post.title}}</mat-card-title>
                <mat-card-subtitle>Published by {{post.authorUsername}} on {{post.timestamp | date:'fullDate'}} at {{post.timestamp | date:'shortTime'}}</mat-card-subtitle>
            </mat-card-header>
        </div>
        <div class="right">
            <mat-card-actions>
                <button mat-button *ngIf="author?.id === post.authorId" routerLink="/posts/{{post.id}}/edit" matTooltip="Edit Post">
                    <mat-icon class="grey-icon">edit</mat-icon>
                </button>
                <button mat-button *ngIf="author?.id === post.authorId" (click)="deletePost(post.id)" matTooltip="Delete Post">
                    <mat-icon class="grey-icon">delete</mat-icon>
                </button>
                <span *ngIf="author?.id !== null">
                    <button mat-button *ngIf="post.favorite" (click)="deleteFavorite(post.id)" matTooltip="Delete Favorite">
                        <mat-icon class="grey-icon">star</mat-icon>
                    </button>
                    <button mat-button *ngIf="!post.favorite" (click)="setFavorite(post.id)" matTooltip="Set Favorite">
                        <mat-icon class="grey-icon">star_border</mat-icon>
                    </button>
                </span>
            </mat-card-actions>
        </div>
        <div style="clear: both;"></div>
        <mat-card-content>{{post.content}}</mat-card-content>
        <hr *ngIf="!last">
    </li>
</ul>